---
import pages from "@/data/pages.js";
import ContainerLayout from "@/layouts/ContainerLayout.astro";
---

<ContainerLayout className={"flex items-center gap-2 justify-between"}>
  <a href="/" class="flex items-center gap-2">
    <img src={"/logo.png"} class="w-full h-16" alt="Logo" />
  </a>

  <nav class="flex gap-3">
    {
      pages.map((page) => (
        <a class="text-base font-semibold hover:underline" href={page.slug}>
          {page.name}
        </a>
      ))
    }
  </nav>
</ContainerLayout>
