---
import ContainerLayout from "@/layouts/ContainerLayout.astro";
---

<div class="bg-brand-primary text-background">
  <ContainerLayout size="base" className="flex items-center gap-2 justify-between">
    <div class=""></div>

    <ul>
      <a href=""> Programs </a>

      <a href=""> Future Students </a>

      <a href=""> QIHE Students </a>

      <a href=""> Discover QIHE </a>
    </ul>
  </ContainerLayout>
</div>
