---
import Layout from "@/layouts/Layout.astro";
import KeyDatesSection from "@/components/section/KeyDatesSection.astro";
import FaqSection from "@/components/section/FaqSection.astro";
import Banner from "@/components/Banner.jsx";
import AboutUsSection from "@/components/section/AboutUsSection.astro";
---

<Layout>
  <div class="space-y-96">
    <Banner client:load />
    <AboutUsSection />
    <KeyDatesSection />

    <FaqSection />
  </div>
</Layout>
