---
import Homepage from "@/components/Homepage.astro";
import Layout from "@/layouts/Layout.astro";
import KeyDatesSection from "@/components/section/KeyDatesSection.astro";

import FaqSection from "@/components/section/FaqSection.astro";
---

<Layout>
  <div class="space-y-12">
    <KeyDatesSection />
    <FaqSection />
  </div>
</Layout>
