---
import Button from "@/components/ui/Button.astro";
import ContainerLayout from "@/layouts/ContainerLayout.astro";
---

<ContainerLayout>
  <h1 class="font-bold text-4xl">Astro Default Homepage</h1>

  <h2 class="font-bold">Buttons</h2>
  <Button variant="primary">Test Button</Button>
  <Button variant="primaryAlt">Test Button</Button>
  <Button variant="primaryAlt" disabled={true}>Test Button</Button>

  <h2 class="font-bold">Buttons Secondary</h2>
  <Button variant="secondary">Test Button</Button>
  <Button variant="secondaryAlt">Test Button</Button>
  <Button variant="secondaryAlt" disabled={true}>Test Button</Button>

  <h2 class="font-bold">Buttons Tertiary</h2>
  <Button variant="contrast">Test Button</Button>
  <Button variant="contrastAlt">Test Button</Button>
  <Button variant="contrastAlt" disabled={true}>Test Button</Button>
</ContainerLayout>
