---
import AboutUsInfo from "../AboutUsInfo.astro";
import { aboutUsCards } from "@/data/aboutuscard";
import AboutCard from "../cards/AboutCard.astro";
---

<div>
  <AboutUsInfo />
  <div class="flex flex-nowrap gap-6 overflow-x-auto w-[60rem]">
    {aboutUsCards.map((card) => <AboutCard {...card} />)}
  </div>
</div>
