---
import ContainerLayout from "@/layouts/ContainerLayout.astro";
import KeyDatesCard from "@/components/cards/KeyDatesCard.astro";
import keyDates from "@/data/keyDates";
import Button from "@/components/ui/Button.astro";
---

<ContainerLayout>
  <div class="flex flex-col gap-4 md:flex-row md:items-center mb-8">
    <div class="flex flex-col gap-4 flex-1">
      <h2 class="text-3xl font-bold font-primary text-brand-primary-black">
        Key Dates
      </h2>

      <button
        type="button"
        class="bg-brand-primary-yellow text-brand-primary-black font-semibold rounded-md hover:brightness-95 transition text-sm py-3 max-w-[100px]"
      >
        All Key Dates
      </button>
    </div>

    <div class="flex-1">
      <p
        class="text-md text-semibold text-brand-primary-black text-left font-secondary"
      >
        A modal dialog that interrupts the user with important content and
        expects a response. A modal dialog that interrupts the user with
        important content and expects a response.
      </p>
    </div>
  </div>

  <div class="space-y-4">
    {
      keyDates.slice(0, 3).map((keyDate, ) => (
          <KeyDatesCard keyDate={keyDate} />
      ))
    }
  </div>
</ContainerLayout>
