---
const {
  size = "base",
  isCenter = true,
  className,
} = Astro.props as {
  size: "sm" | "base";
  isCenter: boolean;
  className: string;
};
---

<div
  class={`${size === "sm" ? "container-sm" : "container"} ${isCenter && "mx-auto"} ${className} px-4`}
>
  <slot />
</div>
